.anim-left {
	clip-path: inset(0% 100% 0% 0%);
	transition: clip-path 0.5s;
	transition-timing-function: ease-in-out;
}

.anim-left-s {
	transition: clip-path 1s;
	transition-timing-function: ease-in-out;
	clip-path: inset(0% 0%);
}

.opacity0 {
	opacity: 0;
	transition: opacity 0.1s;
}
.opacity1 {
	opacity: 1;
	transition: opacity 0.5s;
}

.delay05 {
	transition-delay: 0.5s !important;
}
.delay1 {
	transition-delay: 1s !important;
}
.delay15 {
	transition-delay: 1.5s !important;
}
.delay2 {
	transition-delay: 2s !important;
}

.opacity-d {
	opacity: 0;
}
.opacity-d.loaded {
	opacity: 1;
	transition: 0.5s !important;
	transition-delay: 0s !important;
}

.opacity-d-gal {
	opacity: 0;
}
.opacity-d-gal.loaded {
	opacity: 1;
	transition: 2s !important;
	transition-delay: 0.5s !important;
}


.fadeInUp {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
    transition: 0.7s;
}

.fadeInUp-a{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.anim-clip{
	clip-path: inset(0% 100% 0% 0%);
	transition: clip-path 0.7s;
	transition-timing-function: ease-in-out;
}

.anim-clip-a{
	clip-path: inset(0);
}

.b-fadeInRight {
    opacity: 0.9;
    transform: translate3d(100%, 0, 0);
	transition: 1.3s;
	
}

.b-fadeInRight-a{
    opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-delay: 2s;
}

.b-fadeInLeft {
    opacity: 0.9;
    transform: translate3d(-100%, -100%, 0);
	transition: 1.3s;
	
}

.b-fadeInLeft-a{
    opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-delay: 1.8s;
}