.site-header {
	height: 80px;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	overflow: visible;
	transition: background 0.3s ease-in-out, top 0.3s ease-in-out;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $font-sec;
	font-weight: normal;
	.logo {
		width: 50%;
		@include md {
			width: 290px;
		}
		img {
			width: 100%;
			margin-left: 15px;
			height: auto;
			@include xl {
				margin-left: 50px;
			}
		}
	}
	nav {
		position: absolute;
		right: -100%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.95);
		background-image: url(https://warsztatqulinarny.pl/img/textures/cross-stripes.png);
		width: 100%;
		height: 100vh;
		transition: right 0.3s ease-in-out;
		text-transform: uppercase;
		@include xl {
			background: none;
			height: 100%;
			position: static;
			display: flex;
			justify-content: flex-end;
			width: auto;
			margin-left: 5%;
		}
		a,
		a:hover,
		a:visited,
		a:focus {
			color: #fff;
		}
		ul {
			list-style: none;
			font-size: 3rem;
			position: absolute;
			margin-top: 100px;
			top: 0;
			left: 50%;
			padding: 0;
			text-align: center;
			@include xs{
				transform: translate(-50%, 0);
			}
			@include xl {
				position: static;
				display: flex;
				align-items: center;
				font-size: 1.5rem;
				margin: 0;
			}
			li {
				@include xl {
					display: inline-block;
					margin-left: 15px;
					margin-right: 15px;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
		.menu_szkolenia {
			.fa-caret-down {
				display:none;
				@include xl {
					margin-left: 5px;
					display:inline-block;
				}
			}
			ul {
				position: absolute;
				left: 50%;
				padding: 0;
				margin: 0;
				display: none;
				@include xl {
					display: block;
					opacity: 0;
					width: 0;
					height: 0;
					top: -4000px;
				}
				li {
					img {
						display: none;
						@include xl {
							display: inline-block;
							width: 50px;
							height: 40px;
							object-fit: cover;
							margin-right: 10px;
							border: 1px solid #d4cdcd;
						}
					}
				}
			}
			.szkolenia-active {
				display: block;
				margin-top: 50px;
				width: 300px;
				font-size:2.1rem;
				li{
					padding-top:3px;
					padding-bottom:3px;
					text-align:left;
				}
				@include xl {
					text-align:center;
					font-size:1.5rem;
					position: fixed;
					top: 30px;
					left: 0;
					width: 100%;
					height:auto;
					text-align: left;
					opacity: 1;
					transition: opacity 0.5s;
					background: rgba(255,255,255,0.97);
					columns:3;
					padding:15px;
					padding-left:50px;
					padding-right:50px;
					li {
						display: block;
						padding: 5px;
						a {
							height: 100%;
							width: 100%;
							display: block;
							color:#222;
							font-size:1.3rem;
						}
					}
				}
			}
		}
	}

	.basket {
		position: fixed;
		left: 0;
		bottom: 0;
		@include md {
			bottom: unset;
			top: 20%;
		}
		.fas {
			width: 100%;
			font-size: 3rem;
			border: 2px solid #fff;
			padding: 20px;
			background: $c-accent2;
			@include md {
				width: auto;
			}
		}
		a {
			color: #fff;
		}
		.site-header-cart {
			width: 100%;
			text-align: center;
			@include md {
				text-align: left;
				width: auto;
			}
			.cart_hov {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				font-family: monospace;
				.cart-contents {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					.amount {
						display: none;
					}
					.count {
						position: absolute;
						left: 51%;
						bottom: 4px;
						transform: translate(-50%, 0);
						@include md {
							left: unset;
							transform: translate(0, 0);
							right: 15px;
						}
					}
				}
			}
		}

		.widget_shopping_cart_content {
			background: $c-accent2;
			border: 2px solid #fff;
			padding: 20px;
			width: 400px;

			.woocommerce-mini-cart__total {
				text-align: center;
				padding-top: 20px;
			}
			.buttons {
				display: flex;
				justify-content: space-between;
				a {
					background: $c-accent;
					&:hover {
						color: #fff;
						opacity: 0.9;
					}
				}
			}
		}
	}

	.social {
		position: absolute;
		left: 0;
		bottom: 20px;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		font-size: 2rem;
		@include xl {
			position: static;
			width: 200px;
			align-items: center;
			margin-left: 30px;
			margin-right: 50px;
		}
	}

	.nav-active {
		right: 0;
		position: fixed;
		overflow: scroll;
    	height: 100%;
	}
	.nav-display {
		display: none;
	}
}

.nav-up {
	top: -80px;
}

.nav-down {
	background-color: $c-accent2;
	background-image: url(https://warsztatqulinarny.pl/img/textures/cross-stripes.png);
}

.hamburger {
	margin: 0;
	padding: 10px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	@include xl {
		display: none;
	}
	&:focus {
		& > .hamburger__container {
			box-shadow: 0 0 2px 2px #51a7e8;
		}
	}
}

.hamburger__container {
	display: flex;
	align-items: center;
	position: relative;
	width: 35px;
	height: 30px;
}

.hamburger__bars {
	position: absolute;
	width: 35px;
	height: 2px;
	background-color: #fff;
	transition: transform 220ms ease-in-out;
	&:before,
	&:after {
		display: block;
		position: absolute;
		width: 35px;
		height: 2px;
		background-color: #fff;
		content: "";
	}
	&:before {
		top: -12px;
		transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
	}
	&:after {
		bottom: -12px;
		transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
	}
}

.hamburger--active {
	.hamburger__bars {
		transform: rotate(225deg);
		transition: transform 220ms 120ms ease-in-out;
		&:before {
			top: 0;
			transition: top 100ms ease-out;
		}
		&:after {
			bottom: 0;
			transform: rotate(-90deg);
			transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
		}
	}
}

.hamburger,
.hamburger__container {
	&:focus {
		outline: none;
	}
}

.header_contact_btn{
	cursor:pointer;
}



.header-contact{
	position:fixed;
	background:#fff;
	right:0;
	width:0;
	height:100%;
	z-index:100;
	border-radius: 15% 0 0 0;
	box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.2);
	opacity:0;
	transition: width 0.5s, opacity 0.8s;
	.wrapper{
		padding:50px;
		width:100%;
		height:100%;
		display:flex;
		align-items: center;
		h3{
			font-size:3rem;
			margin-bottom:10px;
		}
		.close-header-contact{
			font-size:35px;
			margin-bottom:50px;
			.fa-window-close{
				cursor: pointer;
			}
		}
	}
}

.header-contact-active{
	width:50%;
	opacity:1;
}